<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="article" style="background-color: #ffe0b2; margin: auto;padding: 20px;color: #000;border-radius: 5px;">
            <div class="title" style="text-align: center;font-size: 28px;margin-bottom: 20px;letter-spacing: 2px;">{{title}}</div>
            <div class="author" style="text-align: center;margin-bottom: 20px;letter-spacing: 1px;">{{author}}</div>
            <div class="content" style="font-size: 18px;line-height: 30px;letter-spacing: 1px;white-space: pre-wrap;word-wrap: break-word;">{{content}}</div>
        </div>
    </body>
</html>

